<h2>New Ocean</h2>

<form action="<%= oceans_path %>" method ="post">

<div class="form">
<p><label>Name: </label><input type="text" name="name"></p>
<p><label>Image: </label><input type="url" name="image"></p>
<p><label>Area: </label><input type="number" name="area"></p>
<p><label>Volume: </label><input type="number" name="volume"></p>
<p><label>Depth: </label><input type="number" name="depth"></p>
<button>Create Ocean</button>
</form>
</div>
