#wrapper {
  margin:0 auto;
  width: 960px;
  height:400px;
}

.backgroundpic {
  height:400px;
	background-image: url("images/bg_wrapper.png");
}


header {

}




#nav {
	height:85px;
  position: relative;
	top: 0px;
}
		#nav li {
			display: inline-block;
			position: relative;
			left:50px;
			padding-left: 30px;
			padding-top: 35px;
			padding-bottom: 35px;
			padding-right: 30px;
      color: white;

		}

		#nav li:hover {
			background-image: url("images/bg_nav_rollover.png");
			background-position: 0px 0px;
			background-repeat: repeat-x;

		}

body {
  background-image: url("images/bg_body.jpg");
}

#blurb{
  border: solid grey 1px;
  				border-bottom: solid white 1px;
  				border-right: solid white 1px;
  				padding: 10px;
          padding-top: 10px;
          height: 100px;

}

#blurb p, #blurb img {
	display: inline-block;
}

#blurb img {
margin-left:200px;
}

#blurb p {
	width: 500px;

}


#home-boxes{
text-align: justify;
margin-top: 20px;
}
#home-boxes:after{
  content: "";
  width: 100%;
  display: inline-block;
}

.homebox{
  padding: 2px;
  border: 4px solid lightgrey;
  width: 274px; /* Declare your value. Can be in relative units. */
}
