<h1>Games on Rails!</h1>

<h2>Which game would you like to play?</h2>

<p><a href="/magiceightball">Magic 8 Ball</a></p>
<p><a href="/numberguess">Secret Number</a></p>
<p><a href="/rps">Rock Paper Scissors</a></p>
