<h1>Add Mountain</h1>

<form action="<%= mountains_new_path %>" method="post">
  <p><label>Mountain: </label><input type="text" name="name"></p>
  <p><label>Country: </label><input type="text" name="country"></p>
  <p><label>Elevation: </label><input type="integer" name="elevation"></p>
  <p><label>Climbed: </label><input type="text" name="climbed"></p>
  <button>Add</button>
</form>
