<h1>Rock Paper Scissors</h1>

<form action="/rps/winner" >
  <input type="submit" name="move" value="Scissors">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Rock">
  </form
