<div class="header">
  <h1>Secret</h1>
</div>

<p>Pick a number between 1-10</p>
<form action="/secret/answer" >
  <input type="submit" name="num" value="1">
  <input type="submit" name="num" value="2">
  <input type="submit" name="num" value="3">
  <input type="submit" name="num" value="4">
  <input type="submit" name="num" value="5">
  <input type="submit" name="num" value="6">
  <input type="submit" name="num" value="7">
  <input type="submit" name="num" value="8">
  <input type="submit" name="num" value="9">
  <input type="submit" name="num" value="10">
</form>
