h1 {
  font-size: 50px;
}


body {
  background-color: papayawhip;
  background-size: cover;
  text-align:center;
}

header {
  text-align: left;
}

div.container {
  margin: 0 auto;
  width: 600px
}


img {
  height: 300px;
  width: 300px;
}
