body{
  background-image: url("http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/zW8idqja.gif");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
