<div class="secret">
    <div class="count">
<h2>keep guessing till you get it right</h2>
<h3>Number of guesses so far: <%= @counter %></h3>
<h3>Guess a number between 1 and 10 </h3>
<form action="/secret/count/<%= @counter %>/<%= @comp_guess %>" method="GET">
    <input type="integer" name="user_guess">
    <input type="submit">
</form>
</div>
</div>
