<div class="secret">
<div class="count">
<h2>keep guessing till you get it right</h2>

<br>
<h3>Guess a number between 1 and 10 </h3>
<form action="/secret/count/<%= @count %>/<%= @comp_guess %>" method="GET">
    <input type="integer" name="user_guess">
    <input type="submit">
</form>
</div>
</div>
