<div class="secret">
    <div class="multi">
<h1>Secret Number</h1>

<h3>Guess a number between 1 and 10 </h3>
<form action="/secret/result" method="GET">
    <input type="integer" name="user_guess">
    <input type="submit">
</form>
</div>
</div>
