<h1>Secret Number</h1>
<div class="secret">
<form action="/secret/lucky" method="GET">
<button class="secret">I am Feeling Lucky!</button>
</form>
<br>
<form action="/secret/count" method="GET">
<button class="secret">Count my Guesses</button>
</form>
</div>
