<h1>Let's see if you can guess the number!?! :D B-)</h1>

<h2>Guess a number between 1 and 10: </h2>
<form action="/answer_guess" method="get">
  <input type="text" name="input">
  <input type="submit" value="Guess it!">
</form>
