<div class="rps">
<h1>Rock Paper Scissors</h1>

<form action="/rps/play/1/0/0/0" method="GET">
<button class="rps">Play 1</button>
</form>
<br>
<form action="/rps/play/3/0/0/0" method="GET">
<button class="rps">Play 3</button>
</form>
<br>
<form action="/rps/play/5/0/0/0" method="GET">
<button class="rps">Play 5</button>
</form>
</div>
