<h2>Rebake Your Cake</h2>

<div class="form">
<form action="/cakes/<%= @cake[0]['id'] %>" method="post">
  <label>Name:</label>
  <input name="name" value="<%= @cake[0]['name'] %>">

  <label>Image:</label>
  <input type="url" name="image" value="<%= @cake[0]['image'] %>">

  <label>Recipe:</label>
  <input type="url" name="recipe" value="<%= @cake[0]['recipe'] %>">

  <div class="button">
  <input type="submit" value="Rebake Cake">
  </div>
</form>
</div>
