<title>The Cake Appreciation Society</title>
<h2>Bake A Cake</h2>

<div class="form">
<form action="/cakes" method="post">
  <label>Name:</label>
  <input name="name">

  <label>Image:</label>
  <input type="url" name="image">

  <label>Recipe:</label>
  <input type="url" name="recipe">

  <input type="submit" value="Bake Cake">
</form>
</div>
