<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Cake Appreciation Society</title>  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="container2">
    <div id="container3">
    <nav class="nav2">
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cakes/new">Bake A Cake</a></li>
      </ul>
    </nav>

    <%= yield %>

    </div>
  </div>
</body>
</html>
