<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Cake Appreciation Society</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="container">
    <nav class="nav">
      <div class="home">
      <ul>
      <li><a href="/cakes">All cakes</a></li>
      <li><a href="/cakes/new">Bake A Cake</a></li>
      </ul>
      </div>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
