<form action="/dogs" method="post">
  <h2>New Dog</h2>
  <p>
    <label>Breed: </label>
    <input name="breed">
  </p>
  <p>
    <label>Type:</label>
    <input name="family">
  </p>
  <p>
    <label>Lifespan:</label>
    <input name="life_span">
  </p>
  <p>
    <label>Image URL: </label>
    <input type="url" name="image">
  </p>
  <p>
    <label>More info URL: </label>
    <input type="url" name="more_info">
  </p>
  <input type="submit" value="Create Dog">
</form>
