<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dogs!!</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/hover-min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<header>
  <a href="/"><i class="fa fa-home fa-2x"></i></a>
  <a href="/dogs/new"><i class="fa fa-plus-square fa-2x"></i></a>
</header>
<div class="wrapper">
  <h1>Doggy DB</h1>
  <div class="yieldcontainer">
    <%= yield %>
  </div>
</div>
</body>
</html>
