@import url(https://fonts.googleapis.com/css?family=Marmelad|Overlock|Cherry+Cream+Soda|Aclonica|Englebert);
@import url(https://fonts.googleapis.com/css?family=Ruslan+Display|Fascinate+Inline|Codystar|MedievalSharp|Nova+Oval|Megrim|Slackey|Hanalei+Fill|Wallpoet|Londrina+Outline|Flavors|Nosifer);
body {
  color: #75395E;
  font-family: 'Arvo', serif;
  font-size: 20px;
  background: #FFC4CA;
  font-family: 'Nova Oval', cursive;
}

#container{
  margin: 0 auto;
  width: 850px;
  height: 800px;
  background-image: url(/images/cake_baby.jpg);
  background-size: cover;
}
#container2{
  margin: 0 auto;
  width: 100%;
  height: 800px;
  background-image: url(/images/sprinkles.jpg);
  background-size: cover;
}
#container3{
  margin: 0 auto;
  width: 850px;
  height: 800px;
  background: pink;
}
h1{
  font-family: 'Nova Oval', cursive;
  font-size: 2em;
  text-align: center;
}
h2{
  font-family: 'Marmelad', sans-serif;
  font-size: 2.5em;
  text-align: center;
  color: white;
}
.nav{
  margin: 0 auto;
  height: 50px;
  font-size: 2em;
}
.nav2{
  margin: 0 auto;
  margin-bottom: 1em;
  height: 50px;
  font-size: 2em;
}

ul{
  margin-top: 0;
}
ul:first-child{
  margin-left: 1em;

}
li {
  display: inline-block;
  padding-left: 2.4em;
  padding-top: .5em;
}
p, label{
  font-family: 'Aclonica', sans-serif;
}
input{
  font-family: 'Nova Oval', cursive;
  margin-bottom: 20px;
  color: #75395E;
}
.button{
  margin-left: 35px;
}
.home a{
    color: white;
    text-decoration: none;
}
a:hover{
  box-shadow: 0px 0px 20px #fff;
}
a{
  color: #75395E;
  text-decoration: none;
}
.show{
  width: 310px;
  margin: 0 auto;
}
.form{
  width: 220px;
  margin: 0 auto;
}
label{
  display: block;
}
img{
  width:300px;
  border-radius: .25em;
}
.thumbnail{
  width: 80px;
}
