<h3>Enter a movie title...</h3>

<div class="form-container">
  <form class="form" action="/movies" method="GET">

    <div>
      <input type="text" name="movie_title">
    </div>

    <div>
      <input type="submit">
    </div>

  </form>
</div>
