<form action="/cocktails" method="post">

<label>name</label>
<input name = "name">
<label>spirits</label>
<input name = "spirits">
<label>image</label>
<input type = "url" name = "image">
<input type = "submit" value = "make cicktail">

</form>
