<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<head>
  <meta charset="UTF-8">
  <title>cocktails</title>
  <h1><i class="fa fa-glass"></i>Cocktail Database</h1>

</head>
<div class = "header">
    <a href="/cocktails_new">Form</a>
    <a href="/home">Home</a>
</div>
<body>

  <img src= "http://www.iconeasy.com/icon/png/Food%20%26%20Drinks/Cocktails/Negroni.png">

  <%= yield %>
</body>
</html>
