<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Movies</title>
</head>
<body>
  <div class="container">
    <h1>FIND LE MOVIE</h1>
    <nav><ul><li cla><a href="/">Home</a></li></ul></nav>
    <%= yield %>
  </div>
</body>
</html>
