
<div class="magic8ball-container">
  <h2>Magic 8 Ball</h2>

  <form class="form" action="/magic8ball/answer" method="get">
    <div class="form-item">
      <input class="input-ball" type="text" name="question" placeholder="Type your question here!">
    </div>
    <div class="form-item">
      <button class="ball-button" type="submit" name="name">
        <img class="ball-image" src="/assets/magic8ball.png" alt="" />
      </button>
    </div>

  </form>
</div>
