

/*## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a */
header{
	padding-top: 2em;
	padding-bottom: 2em;
}

h1{
	color: silver;
	font-size: 3em;
}
body{
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	color: #656565;
}

img a:hover{
	color: #20222a;
}

#container {
	width: 960px;
	margin: auto;
}

h3{
	color: blue;
	font-size: 12px;
}

.text{
	max-width:960px;
	margin: auto;
}
.sponsor{
	padding: .5%;
	background-color: lightgrey;
	display:inline-block;
	width: 23.5%;
}

.sponsor a img{
	border: 1px solid white;
}

footer h3{
	color:silver;
}
