<h2>Secret Number</h2>


<h3> Enter a number between 1 and 10 </h3>
<form class="form" action="/secret/result" method="GET">
<input type="text" name="secret_number" placeholder="number">
<br>
<br>

  <input class="button" type="Submit" >
  <br>
  <br>
