<h2>Secret Number</h2>

<p> Your number: <%= @number %> </p>
<p> Computer number: <%= @computerPlay %> </p>

<h3><p>  <%= @message %> </p></h3>



<p> <a class="button" href="/secret"> Play Again!</a> </p>
