<div class="show left edit">

  <h2>New Activity</h2>

  <form action="/activities" method="post">
    <p><label>Activity Name: </label>
    <input type="text" name="name" placeholder="eg. walking"></p>
    <p><label>Minimum People Required: </label>
    <input type="number" name="people" placeholder="1"></p>
    <p><label>Special Equipment Required: </label>
    <input type="text" name="equipment" placeholder="walking shoes"></p>
    <p><label>Risks: </label>
    <input type="text" name="risk" placeholder="sore feet"></p>
    <p><label>Picture URL: </label>
    <input type="text" name="image" placeholder="http://"></p>
    <p><input type="submit" value="Create Activity"></p>
  </form>


</div>
