@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  background-color: grey;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(http://i64.tinypic.com/eipox5.png);
  background-size: cover;
}

nav {
  color: white;
  background-color: #00DCFF;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  text-align: center;
  display: inline-block;
}

.thumbpic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid yellow;
  margin-left: auto;
  display: inline-block;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav ul {
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px 0px 10px;

}

a:hover {
    color: black;
}

nav a {
  color: white;
  text-decoration: none;
}

a{
  color: orange;
  text-shadow: 1px 1px 2px black;

}

h3 a{
  text-decoration: none;
  color: orange;

}

.main,  .side {
  display: inline-block;
  position: relative;
}

.main {
  width: 60%;
  background-color: rgba(0, 38, 127, 0.2);
  border-radius: 1em;
  margin-left: 20px;
  color: white;

}

p, h2{
  margin: 10px 20px 10px 20px;
  text-shadow: 1px 1px 2px black;
}

.side {
  width: 25%;
  padding: 1em;
  vertical-align: top;
  background-color: rgba(0, 38, 127, 0.2);
  border-radius: 1em;
  text-align: center;;
}

.map, .video {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



h1{
  margin-top: 80px;
  text-align: center;
  color: pink;
  text-shadow: 1px 1px 2px black;
}
