/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
h1 {
	font-size: 40px;
	line-height: 17px;
	color:#9F9FA8;
	font-family: "Times New Roman", serif;
}
h2{
	line-height: 17px;
	font-family: 17px;
	color: #656565;
}
body{
	font-size: 12px;
	line-height: 17px;

}
#date{
	color: blue;
	font-size: 12px;
}


#Read{
	color: blue;
	font-size: 12px;
}
.al img{
	border: 5px solid #E5E5EA;
	display: inline-block;
	padding: 1px;
}
#container{
	max-width: 960px;
	margin: 0 auto;
}
