// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(http://www.pdgm.com/getmedia/49986e29-2fba-4629-8a09-591205b91ed4/Library_1400_800.jpg.aspx);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  text-align: center;
  background-color: #beeeef;
  border: 5px solid black;
  border-radius: 1em;
  padding: 1em;
  margin-top: 2em;
}

nav>a {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  padding: 0 1em;
}

h1 {
  font-family: 'Special Elite', cursive;
  color: white;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 5px 5px 5px black;
}



.addNew {
  text-align: right;
  margin: 1em;
}

.main {
  margin-top: 2em;
  border: 5px solid black;
  background-color: #beeeef;
  border-radius: 1em;

}

.index {
  border: 2px solid black;
  border-radius: .5em;
  position: relative;
  display: inline-block;
  min-width: 120px;
  height: 150px;
  vertical-align: top;
  margin: 1em;
}

.pic {
  position: absolute;
  top: 0;
}

.name {
  position: absolute;
  bottom: 0;
}

.index>p {
  margin: 0;
}

.thumb {
  max-width: 7.5em;
  border-radius: .35em .35em 0 0 ;

}

.feature {
  max-width: 30em;
}
