body {
  background-color: #CDD9E9;
  font-size: 20px;
}

header {
  text-align: right;
  background-image: url(/header_bg.jpg);
  background-size: cover;
}

h1 {
  color: white;
  margin: 0px;
  font-size: 70px;
  text-shadow:
    -5px -5px 25px #02141E,
    5px -5px 25px #02141E,
    -5px 5px 25px #02141E,
    5px 5px 25px #02141E;
  padding-top: 0.25em;
  padding-bottom: 0.1em;
}

ul {
    margin: 0;
    padding: 5px;
    background: #101414;
    background-size: cover;
    max-height:55px;
}

li {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: 22px;
}

div.container {
  position: relative;
  text-align: left;
  padding: 15px 30px;
}

div.container>p>a {
  color: black;
  font-size: 20px
}

label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

input[type=submit] {
  margin:0;
}

ul>li>a {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 800px;
}

footer {
  text-align: center;
  margin: 0px;
  height: 50px;
}
