<h3>Add a pokemon</h3>

<div class="form-container">
  <form class="form" action="/pokemon" method="post">

  <div class="form-section">
    <label>Name: </label>
    <input type="text" name="name">
  </div>

  <div class="form-section">
    <label>Generation: </label>
    <input type="text" name="generation">
  </div>

  <div class="form-section">
    <label>Type: </label>
    <input type="text" name="type">
  </div>

  <div class="form-section">
    <label>Image: </label>
    <input type="url" name="image">
  </div>

  <input class="button" type="submit" value="Create Pokemon">



  </form>


</div>
