<h2> New Attraction</h2>

<form action="/attractions" method="post">

  <label>Place: </label>
  <input name="place">    <br><br>

  <label>Language: </label>
  <input name="language">  <br><br>

  <label>Food: </label>
  <input name="food">  <br><br>

  <label>Image: </label>
  <input type="url" name="image">  <br><br>

  <input class='button' type="submit" value="Add Attraction">
</form>
