<h2> New City</h2>

<form action="/cities" method="post">

  <label>City: </label>
  <input name="city">    <br><br>

  <label>Country: </label>
  <input name="country">  <br><br>

  <label>Image: </label>
  <input type="url" name="image">  <br><br>

  <input class='button' type="submit" value="Add City">
</form>
