<<<<<<< HEAD
/* 

## Style Hints: 
=======
/*

## Style Hints:
>>>>>>> 90d3fc8d7b98d78501f2bd15e567585fec295bc8

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
<<<<<<< HEAD
=======

body {
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	color: #656565;
	margin-left: 70px;
	width: 960px;
}

header {
	color: #9d9e9d;
	margin-top: 40px;
	margin-bottom: 21px;
	font-size: 28px;
}

footer {
	border-top: 10px;
}

img {
	padding: 1px;
	width: 960px;
	margin-bottom: 4px;
}

.sponsorPics img {
	display: inline-block;
	border: 5px solid #cfcfcf;
	width: 225px;
}

.date {
	color: #3789c1;
}

a {
	text-decoration: none;
	color: #3789c1;
}
>>>>>>> 90d3fc8d7b98d78501f2bd15e567585fec295bc8
