<h1>Rock Paper Scissors</h1>
<h3>Let's Play!</h3>

<a href="/rock_paper_scissors/rock"><img class="game" src="/assets/rock.png" alt=""></a>

<a href="/rock_paper_scissors/paper"><img class="game" src="/assets/paper.png" alt=""></a>

<a href="/rock_paper_scissors/scissors"><img class="game" src="/assets/scissors.png" alt=""></a>
