<form action="/secretnumber/result" method="GET">

  <input type="submit" name="num" value="1">
  <input type="submit" name="num" value="2">
  <input type="submit" name="num" value="3">
  <input type="submit" name="num" value="4">
  <input type="submit" name="num" value="5">
  <input type="submit" name="num" value="6">
  <input type="submit" name="num" value="7">
  <input type="submit" name="num" value="8">
  <input type="submit" name="num" value="9">
  <input type="submit" name="num" value="10">

</form>
