// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  min-width: 72px;
}

.new {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: white;
  margin-left: 20px;
}

body {
  background-size: cover;
  background-image: url('/assets/bookshelf.jpg')
}

i {
  min-width: 15px;
}

.jumbotron {
  text-align: center;
}

li.bullet {
  list-style: none;
}
