<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="super-container">

    <header>
      <a href="/"><img class="logo" src="/img/pokemon-logo.png" /></a>


    <nav>
      <a href="/pokemon">All</a>
      <a href="/pokemon/new">New</a>


    </nav>
  </header>

    <div class="section-container">

      <%= yield %>

    </div>















  </div>



</body>
</html>
