<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <p class"eightball">
          You asked the question:
          <%= @question %></p>
          <p>The Magic 8 Ball Answered:
          <%= @answer %></p>
        </p>
      </form>
    </div>
  </div>
</div>
</div>
