<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="eightball">
          Ask the Magic 8 Ball a question!
        </h2>
        <form class=""action="/eightball/answer" method="GET">
          <input type="text" name="question">
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
