<h1>test search</h1>


<%= form_tag root_path, :id => 'search' do %>
  <%= search_field_tag :query %>
  <%= submit_tag 'Search' %>
<% end %>

<div id="results">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<button type="button" name="button" id="change-text-button">Change Text</button>

<div id="notification"></div>
