// Place all the styles related to the Oceans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Trade+Winds);

body {
  background-color: gainsboro;
  font-family: 'Abel', sans-serif;
  padding-bottom: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient(rgb(52, 152, 219), gainsboro);
  background-color: rgb(52, 152, 219);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
}

h1 {
  font-family: 'Bitter', serif;
  text-align: center;
}

label {
  width: 100px;
  display: inline-block;
}

input {
  width: 300px;
  display: inline-block;
}

.list {
  text-align: center;
}

.list a {
  font-family: 'Trade Winds', cursive;
  font-size: 32px;
  color: blue;
  text-decoration: none;
}

.list a:hover {
  color: white
}

nav {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

nav a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: rgb(52, 152, 219);
}

img {
  max-width: 760px;
}
