<h1>Secret Number</h1>
<h3>Please choose a number below for entry into the wonder wagon.</h3>

<form action="/result">
<button name="n" value=1>1</button>
<button name="n" value=2>2</button>
<button name="n" value=3>3</button>
<button name="n" value=4>4</button>
<button name="n" value=5>5</button>
<button name="n" value=6>6</button>
<button name="n" value=7>7</button>
<button name="n" value=8>8</button>
<button name="n" value=9>9</button>
<button name="n" value=10>10</button>
</form>
