<h1>Secret Number</h1>

<p>You chose <%= @guess %></p>

<% if @guess == @number %>
<p>Congratulations! You guessed correctly. You may now enter the wonder wagon.</p>
<% else %>
<p>Sorry! The magic number was <%= @number %>.</p>
<% end %>
