<form action="/check" method="GET">
  <input type="text" placeholder="Insert Movie Name Here" name="movie">
  <input type="submit">
</form>


<form action="/lookup" method="GET">
  <input type="text" placeholder="Insert Search Item Here" name="search">
  <input type="submit">
</form>
