<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Checker</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">

    <div class="header"><a href="/home">Back to the start?</a></div>

    <h1>MOVIE DETAIL GETTER!</h1>


    <%= yield %>
  </div>

</body>
</html>
