<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
      <p>You guessed: <%= @num %></p>
      <p>and the computer picked: <%= @compnum %></p>
      <p><%= @winner %></p>
        </form>
      </div>
    </div>
  </div>
</div>
