<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="eightball">
          I'm thinking of number between 1 and 10, can you guess what it is?
        </h2>
        <form action="/guessing/answer" method="GET">
          <input type="submit" name="num" value="1">
          <input type="submit" name="num" value="2">
          <input type="submit" name="num" value="3">
          <input type="submit" name="num" value="4">
          <input type="submit" name="num" value="5">
          <input type="submit" name="num" value="6">
          <input type="submit" name="num" value="7">
          <input type="submit" name="num" value="8">
          <input type="submit" name="num" value="9">
          <input type="submit" name="num" value="10">
        </form>
      </div>
    </div>
  </div>
</div>
