<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IMDB: Ian's Movie Database</title>
  </head>
  <body>
    <div class="container">
      <h1>IMDB: Ian's Movie Database</h1>
      <%= yield %>
    </div>
  </body>
</html>
