<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<h1><i class="fa fa-ticket"></i>WELCOME TO OMDB</h1>
<body>
  <div class = "container">
    <p>Enter title below:</p>
<form action="/movie" method="GET">
<input type="text"name="movie">
<input type="submit">
</form>
</div>
</body>
</html>
