<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>omdb</title>

</head>

<body>
  <div class="container">
      <h1>omdb</h1>
      <%= yield %>
</div>
</body>
</html>
