/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	font-family: "Times New Roman", serif;
  color: #656565;
	font-size: 12px;
	max-width: 960px;
	margin-left: 70px;
}

h1 {
	color: #999999;
	font-size: 40px;
	font-weight:800;
	margin: 30px 0px 10px 0px;
}
/*
img {
	margin: 3px;
}*/

#container img {
	display:inline-block;
	border: solid #CCCCCC 5px;
	margin: 0px;
}

#centering {
	text-align:center;
}
