<h1>New Lake</h1>

<form action="/lakes/create" method="post">
    <p><label>Name:</label><input type="text" name='name'></p>
    <p><label>Image:</label><input type="url" name='image'></p>
    <p><label>Country:</label><input type="text" name='country'></p>
    <p><label>Country Other:</label><input type="text" name='country_other'></p>
    <p><label>Volume (km3):</label><input type="integer" name='volume'></p>
    <p><label>Area (km2):</label><input type="integer" name='area'></p>
    <p><label>Max Depth (m)</label><input type="integer" name='max_depth'></p>
    <input type="submit">
</form>
