Pick a move, but be warned, I've totally rigged this game against you!

<form action="/rps/result">
  <input type="submit" name="move" value="Rock">
  <input type="submit" name="move" value="Paper">
  <input type="submit" name="move" value="Scissors">
</form>
