body {
  background: aliceblue;
}

h3 {
  display: inline;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid lightslategray;
  padding-left: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

img {
  width: 225px;
}
