<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
<header>
<nav>
  <a href="/beers">All Beers</a> |
  <a href="/beers/new">Add</a> 
</nav>
<h1>The Beer Database.</h1>
</header>
  <%= yield %>


  </div>

</body>
</html>
