<h1>Create a Beautiful Bee</h1>

<form action="/bees" method="post">

  <label>Name:</label>
  <input name="name">
    <br/>

  <label>Honey:</label>
  <input name="honey">
    <br/>

  <label>Image:</label>
  <input type="url" name="image">
    <br/>

  <input class="button" type="submit" value="Create Bee">

</form>
