<h1>New Flower</h1>

<form action="/flowers" method="post">

  <label>Name:</label>
  <input name="name">
  <br/>

  <label>Image:</label>
  <input type="url" name="image">
  <br/>

  <input class="button" type="submit" value="Create flower">
  <br/>
</form>
