<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bees</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="background"></div>
    <div class="container">
    <nav>
      <a href="/bees">All bees</a>
      <a href="/bees/new">New bee</a>
      <a href="/flowers">All flowers</a>
      <a href="/flowers/new">New flower</a>
    </nav>

    <%= yield %>

    </div>
</body>
</html>
