<h1>Magic 8 Ball</h1>

<h3>Ask me for your fortune!</h3>

<form action="/magic_answer">
<label>Type in your question: </label>
<input type="text" name="question">
<input type="submit" value = "Shake It">
</form>
