<h1>Discover Your Fortune</h1>
<h3>With the magic 8 ball...</h3>

<form action="/fortunes" method="get">
  <label>Ask the magic 8 ball a question: </label>
  <input name="question">
  <button>Reveal Fortune</button>
</form>
