<form action="/beer" method="post">
    <h2>Add a new Beer</h2>
    <p>Beer Name: </p>
    <input name="name">

    <p>Country of Origin: </p>
    <input name='country'>

    <p>Class of Beer: </p>
    <input name="class">

    <p>Image URL: </p>
    <input type="url" name='image'>
    <br>
    <input type="submit" value="Add new Beer">
</form>
