<h1>Add a new Guitar-Car!</h1>

<form action="/guitarcars" method="post">

  <label>Name: </label>
  <input type="text" name="name">

  <label>Type (Acoustic, Electric, etc): </label>
  <input type="text" name="type">

  <label>Number of Wheels: </label>
  <input type="number" name="wheels">

  <label>Colours: </label>
  <input type="text" name="colors">

  <label>Picture URL: </label>
  <input type="url" name="image">

  <input type="submit" name="Make Guitar-Car!">



</form>
