<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guitar Cars</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Warnes' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Go Home</a>
      <a href="/guitarcars">Check Out The Guitar-Cars</a>
      <a href="/guitarcars_new">Add new Guitar-Car</a>
    </nav>

    <%= yield %>

  </div>



</body>
</html>
