<h1>Add New Beer</h1>

<form action="/beers" method="post">
  <label>Manufacturer: </label>
  <input name="manufacturer">

  <label>Name: </label>
  <input name="name">

  <label>Style: </label>
  <input name="style">

  <label>Alcohol Content: </label>
  <input type="number" name="alcohol_content">

  <label>Image URL: </label>
  <input type="url" name="image_url">

  <input type="submit" class="submit" value="Add Beer">
</form>
