<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Beers</title>
</head>
<body>
  <header>
    <nav>
      <div class="logo"><i class="fa fa-beer"></i> BeerBuddy</div>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/beers"><li>View Beers</li></a>
        <a href="/beers/new"><li>Add Beer</li></a>
      </ul>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
