

<h2>The movie you selected is:</h2>

<h3><%= @search_results["Title"] %></h3>

<p>Directed by: <%= @search_results["Director"] %></p>

<p>Starring: <%= @search_results["Actors"] %></p>

<img src=<%= @movie_poster %> alt="Movie Poster" height="300px" width "300px">
