<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wines</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class = "container" div>
    <nav>
      <a href="/wines"></a>
      <a href="/wines/new"></a>
      <a href="/regions"></a>
      <a href="/regions/new"></a>

    </nav>
    <%= yield %>
  </div>
</body>
</html>
