<h1>New Musician</h1>

<form action="/musicians" method="post">
  <label>Musician Name:</label>
  <input type="text" name="name">
<br>
<label>Genre:</label>
<select name="genre">
    <option value="rock">Rock</option>
    <option value="pop">Pop</option>
    <option value="traditional">Traditional</option>
    <option value="country">Country</option>
    <option value="rnb">RnB</option>
</select>
<br>
  <label>Image:</label>
  <input type="url" name="image">
<br>
  <label>Music Video:</label>
  <input type="url" name="video">
<br>
  <input class="button" type="submit" value="Create Musician">
</form>
