@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch|Noto+Sans);

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  background-color: black;
  color: gainsboro;
  height: 50px;
}

h1 {
  margin-top: 0px;
  padding: 10px 0 0 10px;
  font-family: 'Cabin Sketch', cursive;
}

.poster {
  opacity: 0.8
}

.poster:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

.left-container {
  display: inline-block;
  width: 45%;
  margin-left: 10px;
}

#image {
  display: inline-block;
  max-width: 530px;
  margin-top: 20px;
}

#image img {
  margin: 0 auto;
}

.grey_div {
  background-color: gainsboro;
  width: 400px;
  padding: 10px;
  text-align: center;
}

#button {
  background-color: lemonchiffon;
  opacity: 0.6;
  border: none;
  box-sizing: border-box;
}

#button:hover {
  opacity: 1;
  cursor: pointer;
}

input {
  height: 30px;
  width: 150px;
  border: none;
  box-sizing: border-box;
  padding-left: 5px;
  font-size: 16px;
  margin-right: 5px;
}
