<h1>Ruby Games</h1>

<p>
  We're here to play the games of Ruby <br>
  and hope it's not a trap. <br>
  The worst of which are traps of booby <br>
  rock paper, scissors, SNAP!
</p>

<p>
  Come in and try the magic 8 ball <br>
  and ask it anything. <br>
  But watch your back in case you fall <br>
  and feel the scorpion sting!
</p>
<p>
  Why not try the number guesser <br>
  no need to use your head. <br>
  But do not come here for any lesser <br>
  Or you may end up DEAD!
</p>
