<form action="/rockpaperscissors/result" method="GET">
<h1> Choose Your Weapon </h1>

  <input type="submit" name="string" value="rock">
  <input type="submit" name="string" value="paper">
  <input type="submit" name="string" value="scissors">


</form>
