body {
  background: url("../images/sepiabkgnd.png");
  background-size: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  margin: 10px 0 0 0;
  font-size: 80px;
}

h2 {
  margin: 0;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: justify;
}

a:link {
  color: #333333;
  text-decoration: none;
}

a:visited {
  color: #AAAAAA;
  text-decoration: none;
}

nav {
  font-size: 38px;
}

ul {
  margin-top: 10px;
  padding: 0;
  margin-bottom: 20px;
}

li {
  display: inline;
  font-size: 38px;
  padding: 0 5px 0 5px;
}

div {
}

.text, .picture {
  display: inline-block;
}

.text {
  width: 64%;
  vertical-align: top;
}

.picture {
  width: 35%;
}

img {
  border-radius: 2em;
  width: 100%;
}
