  <h1>Add New Mountain</h1>
  <form action="/mountains" method="post">

    <label>Name: </label>
    <input name="name">
    <label>Height: </label>
    <input type="number" name="height">
    <label>Country: </label>
    <input name="country">
    <label>First Climbed: </label>
    <input type="number" name="year_climbed">
    <label>Image URL: </label>
    <input type="url" name="image_url">

    <input type="submit" value="Add Mountain">
  </form>
