<form action="/logos" method="POST">
  <fieldset class="form-group">
  <p><label>Origin</label><input class="form-control" type="text" name="origin" ></p>
  <p><label>Year</label><input  class="form-control" type="text" name="year"></p>
  <p><label>Image</label><input class="form-control" type="text" name="image"></p>
  <p><label>More Information</label><input class="form-control" type="text" name="more_info"></p>
  <p><input  class="btn btn-default submit-button" type="submit" value="Add New Logo"></p>
</fieldset>
</form>
