<h1>Let's play the Magic Eight Ball game! :D :D :D</h1>

<form action="/answer_eight" method="get">
  <label>What do you want to ask the Magic Eight Ball?</label>
  <input type="text" name="input" placeholder="Ask question here">
  <input type="submit" value="Ask It! :D :\ :D">
</form>
