<h2>Please enter a new game below: </h2>
<form action="/games" method="post">
  <label>Title:</label>
  <input name="title">

  <label>Genre:</label>
  <input name="genre">

  <label>Console:</label>
  <input name="console">

  <label>Image:</label>
  <input type="url" name="image">

<input type="submit" value="Add New Game">
</form>
