<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Games Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Video Games Database</h1>
<div class="container">
<nav>
  <a href="/games">Games List</a>
  <a href="/games/new">Add New Games</a>
</nav>
<%= yield %>
</div>
</body>
</html>
