<h1>Magic 8 Ball</h1>
<div class="eight">
<div class="question">
<h3>Please ask a question. </h3>
<form action="/eightball/result" method="GET">
    <input class="question" type="text" name="user_question"><br><br>
    <input class="submit" type="submit">
</div>
</form>
</div>
