.thumb {
  max-width: 150px;
}

.feature {
  max-width: 600px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 100px;
}

label {
  min-width: 80px;
  text-align: right;
  display: inline-block;
}

fieldset {
  border: none;
}
