


<h2>Please enter the Movie you would like to watch </h2>
<form class="form" action="/movies" method="GET">
<input type="text" name="movies" placeholder="Enter the movie">
<br>
<br>

  <input class="button" type="Submit">
  <br>
  <br>
