<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://4.bp.blogspot.com/-oX0hjlyvklM/UC-w6TQOr1I/AAAAAAAAA38/_DniRk9XD8s/s320/brushes+photoscape+rolo+de+filme++by+thata+schultz+shoppingphotoscape20110309-fdannfilmstrip4.png.png" type="image/x-icon"/>

    <title>Movies</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>


    <div class="container">

      <h1>Movies</h1>
      <%= yield %>

    </div>


  </body>
</html>
