<h1>Let's play "Rock, Paper, Scissors"!!</h1>

<form action="/rps/answer" method="get">
  <label>Enter your choice...</label>
  <input type="submit" value="Rock" name="rock">
  <input type="submit" value="Paper" name="paper">
  <input type="submit" value="Scissors" name="scissors">
</form>
