<h1>What do you wanna play?</h1>

<div class="imagesgame">
  <a href="/magic"><img src="/assets/magic.png" title="Magic 8 Ball " /></a>
  <a href="/rpsgame"><img src="/assets/rpsgame.png" title="Rock Paper Scissors " /></a>
  <a href="/secret"><img src="/assets/secret.png" title="Secret Number " /></a>

</div>
