<h2>Make a Fingerlime!</h2>
<form action="/fingerlimes" method="post">
<p>
  <label> Name:</label>
  <input name="name">

  <label> Sweetness:</label>
  <input name="sweetness">

  <label> Bite:</label>
  <input name="bite">

  <label> Pop:</label>
  <input name="pop">

  <label> Image:</label>
  <input type="url" name="image">

  <input type="submit" value="create fingerlime">
</p>
</form>
