<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fingerlimes</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<div class="logo">
<img src="http://gourmetlimes.com.au/wp-content/themes/custom/images/logo.gif" >
</div>
<body>
  <div class="container">
    <nav>
      <a href="/fingerlimes"></a>
    </nav>
  <%= yield %>
</div>
</body>
</html>
