<h2>Rock Paper Scissors</h2>


<h3> Enter your choice </h3>
<p> <i class="fa fa-hand-rock-o"></i>
  <i class="fa fa-hand-paper-o"></i>
<i class="fa fa-hand-scissors-o"></i> </p>

<form class="form" action="/rpsgame/result" method="GET">
  <select name="options">
    <option>rock </option>
    <option>scissors</option>
    <option>paper</option>


<input type="Submit"> 
