
<h2> List of Categories </h2>

<% @categories.each do |categorie|  %>
<h3>  <a href="/categories/<%= categorie['id']%>">
<%= categorie['name'] %> </a></h3>
<% end %>


<br>
<br>
<a class="button" href="/categories/new">Add New Website</a>
