<h2>Create new Categorie </h2>

<form action="/categories" method="post">

<label> Name ::  </label>  <input name="name"> <br><br>
<label> Website :: </label>  <input type="url" name="website"><br><br>
<label> Description :: </label>  <input name="description"><br><br>

<input class="button" type="submit" value="Send New">
</form>
