<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title> Need Help?</title>
  </head>
  <body>
<div class="container">

  <nav>
    <a href="/categories"> Categories </a>
    <a href="/categories/new"> Add Categories </a>
    <a class="home" href="/"> <i class="fa fa-home"></i>
</i>
</a>    <a href="/websites">  Websites</a>
    <a href="/websites/new"> Add Website</a>
  </nav>

  <h1>Need  Help?</h1>

    <%= yield %>
  </div>

  </body>
</html>
