<h2> Create New Website</h2><br>

<form action="/websites" method="post">

  <label> Name :: </label> <input name="name"> <br><br>

  <label> Link :: </label> <input type="url" name="link"><br><br>

  <label> Help :: </label> <input name="help"><br><br>

  <input class="button" type="submit" value="Create new">

</form>
