@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  background: papayawhip;
}

div.container {
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

h1 {
  font-family: 'Poiret One',sans-serif;
  color: black;
}

h1 {
  font-family: 'Poiret One',sans-serif;
  color: black;
}
