<h2>Magic 8 Ball </h2>

<h3> Enter your question </h3>
<form class="form" action="/magic/result" method="GET">
<input type="text" name="magic_question" placeholder="??">
<br>
<br>

  <input class="button" type="Submit">
  <br>
  <br>
